<div>
  <ul class="list-group">
    <li class="list-group-item"
        routerLink="home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact : true}">
      Home
    </li><li class="list-group-item"
        routerLink="comparador"
        routerLinkActive="active">
      Comparador
    </li>
    <li class="list-group-item"
        routerLink="marca"
        routerLinkActive="active">
      Marca
    </li>
    <li class="list-group-item"
        routerLink="categoria"
        routerLinkActive="active">
      Categoria
    </li>
  </ul>
</div>
