<div>
  <hr>
    <div class="row">
      <div class=" col-2"><select-box (changeSelection)="onSelectionChanged($event)"></select-box></div>
      <div class="col-10">
        <shared-searchbox
          (onValue)="onSearch($event)"
          (onClick) = onSearch($event)
          placeholder="Introduzca producto..."></shared-searchbox>
      </div>
    </div>
  <hr>
  <div class="row">
    <div class="col-12">
      @if(products.length === 0){
        <div class="alert alert-warning text-center text-dark" role="alert">
          No hay productos que mostrar
        </div>
      }@else{
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Marca</th>
            <th>Precio</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          @for(product of products; track $index){
          <tr>
            <td>{{ product.nombre }}</td>
            <td>{{ product.categoria }}</td>
            <td>{{ product.marca }}</td>
            <td>{{ product.precio }}</td>
            <td>
              <button class="btn btn-outline-primary" type="button" (click)="detalle(product._id)">Detalle</button>
            </td>
          </tr>
          }
          </tbody>
        </table>
      }
    </div>
  </div>
</div>

