<div>
  <hr>
  <div class="row">
    <div class="col">
      <shared-searchbox
        (onValue)="getByCategoria($event)"
        placeholder="Introduzca producto..."></shared-searchbox>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      @if(products.length === 0){
        <div class="alert alert-warning text-center">
          No hay productos que mostrar
        </div>
      }@else{
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Url</th>
          </tr>
          </thead>
          <tbody>
            @for(product of products; track $index){
              <tr>
                <td>{{ product.nombre }}</td>
                <td>{{ product.categoria }}</td>
                <td>{{ product.marca }}</td>
                <td>{{ product.precio | currency }}</td>
                <td>
                  <button>Ver Detalle</button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      }
    </div>
  </div>
</div>
