<div class="card">
  <div class="card-body">
    <img src="" class="card-img-top rounded" alt="Foto del Producto">
  </div>
  <div class="card-body">
    <table class="table-borderless">
      <thead>
        <tr>
          <th scope="col" class="text-start">Nombre</th>
          <th scope="col" class="text-start">Categoria</th>
          <th scope="col" class="text-start">Subcategoria</th>
          <th scope="col" class="text-start">Marca</th>
          <th scope="col" class="text-start">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-end">Nombre</th>
          <th scope="row" class="text-end">Categoria</th>
          <th scope="row" class="text-end">Subcategoria</th>
          <th scope="row" class="text-end">Marca</th>
          <th scope="row" class="text-end">Precio</th>
        </tr>
      </tbody>
    </table>
    <a href="#" class="btn btn-primary">Ver</a>
  </div>
  </div>
